/***** general page setup *****/
html{
  font-family: 'Zen Antique', serif;
}

body {
  margin: 0;
  padding: 0;
}

.content {
  margin: 0 15%;
}

.no_bottom_margin {
  margin-bottom: 0;
}

/***** jump to links *****/
#i {
  scroll-margin-top: 100px;
}
#ii {
  scroll-margin-top: 100px;
}
#iii {
  scroll-margin-top: 100px;
}
#iv {
  scroll-margin-top: 100px;
}
#v {
  scroll-margin-top: 100px;
}

/***** navigation css *****/
#nav {
 margin: 0;
 padding: 5px;
 position: fixed;
 width: 100%;
 top: 0;
 background: rgba(0, 0, 0, 0.3);
 transition: 0.4s;
 z-index: 2;
}


#nav a {
  text-align: center;
  text-decoration: none;
}

#main_nav {
  list-style-type: none;
  margin: 0;
  margin-top: 28px;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: 0.4s;
}

#nav ul li a {
  text-align: center;
  text-decoration: none;
  color: white;
  padding: 10px;
}

/* logo css */
.main_link {
  float: left;
}

#logo {
  height: 100px;
  width: 100px;
  transition: 0.4s;
}

/* page link css */
.page_link {
  padding: 10px;
  margin: 10px;
  margin-top: 0;
}

.page_link:hover{
  background-color: darkgray;
  border-radius: 50px;
}

/* book now button css */
#book_button {
  color: white;
  float: right;
  margin-right: 20px;
  margin-top: 28px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(128 ,128, 128, 0.5);
  transition: 0.4s;
}

#book_button:hover {
  background-color: darkgray;
}

/* basic nav */
.basic #nav {
  background: rgba(0, 0, 0, 1);
}

.basic #main_nav {
  margin-top: 10px;
}

.basic #logo {
  height: 60px;
}

.basic #book_button {
  margin: 10px 20px 0 0;
}
/***** cover photo css *****/
.cover_photo {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 100vh;
  overflow: hidden;
}

.cover {
  text-align: right;
  width: 100%;
}

.cover_text {
  font-size: 50px;
  position: absolute;
  z-index: 1;
  color: white;
  bottom: 150px;
  right: 25px;
  width: 100%;
}

.title {
  text-align: center;
  margin-top: 80px;
}

/***** footer css *****/
footer {
  margin: 0;
  padding: 5px;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

footer ul li {
  padding: 10px;
  margin: 10px;
}

footer ul li a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 14px;
}
