/***** section css *****/
.section_left {
  padding:0 5%;
  display: inline-block;
  margin-top: 30px;
}

.section_left img {
  float: right;
  width: 400px;
  margin-left: 10px;
  border-radius: 5px;
}

.section_left h2 {
  margin: 0px;
}

.section_left p {
  margin: 0px;
}

.section_right {
  margin:0 5%;
  display: inline-block;
  margin-top: 30px;
}

.section_right img {
  float: left;
  width: 400px;
  margin-right: 10px;
  border-radius: 5px;
}

.section_right h2 {
  margin: 0px;
}

.section_right p {
  margin: 0px;
}
